* {
    box-sizing: border-box;
}
body {
    height: 100vh;
}

#container {
    height: 100%;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    
}

.header {
    grid-row: 1/2;
    font-size: 50px;
    text-align: center;
    margin-bottom: auto;
    
}

.text {
    text-align: center;
}

.select-cat {
    grid-row: 2/3;
}

#letters {
    display: grid;
    grid-row: 8/10;
}

p {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: space-evenly;
}

.img {
    grid-row: 3/7;
    margin: auto;
}

img {
    height: 300px;
    width: 250px;
    object-fit: cover;
}

.first-row {
    grid-row: 1/2;
    display: grid;
    
}

.second-row { 
    grid-row: 2/3;
    display: grid;
    
}

.one-row {
    display: none;
}


@media only screen and (min-width: 768px) {
    
    .header {
        color: grey;
    }
    img {
        width: 250px;
    }
    
}

@media only screen and (min-width: 1024px) {

    

    /* .first-row, .second-row {
        display: none;
    } */


    /* .one-row {
        grid-row: 1/2;
        display: grid;
    } */
    

    img {
        width: 250px;
    }


    .header {
        grid-row: 1/2;
        font-size: 50px;
        text-align: center;
        margin-bottom: auto;
        color: red;
        
    }
}